@page "/"
@page "/inventory"

<PageTitle>Inventory</PageTitle>

<section class="pf-v6-c-page__main-section">
    <div class="pf-v6-c-page__main-body">
        <h1 class="pf-v6-c-title pf-m-4xl">Inventory</h1>
    </div>
</section>

<section class="pf-v6-c-page__main-section">
    <div class="pf-v6-c-page__main-body">
        <table class="pf-v6-c-table pf-m-grid-md" role="grid" aria-label="This is a simple table example"
            id="table-basic">
            <thead class="pf-v6-c-table__thead">
                <tr class="pf-v6-c-table__tr" role&#x26;#x3D;&#x26;quot;row&#x26;quot; [object Object]>
                    <th class="pf-v6-c-table__th" role="columnheader" scope="col">Repositories</th>

                    <th class="pf-v6-c-table__th" role="columnheader" scope="col">Branches</th>

                    <th class="pf-v6-c-table__th" role="columnheader" scope="col">Pull requests</th>

                    <th class="pf-v6-c-table__th" role="columnheader" scope="col">Workspaces</th>

                    <th class="pf-v6-c-table__th" role="columnheader" scope="col">Last commit</th>
                </tr>
            </thead>

            <tbody class="pf-v6-c-table__tbody" role="rowgroup">
                <tr class="pf-v6-c-table__tr" role&#x26;#x3D;&#x26;quot;row&#x26;quot; [object Object]>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Repository name">Repository 1</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Branches">10</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Pull requests">25</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Workspaces">5</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Last commit">2 days ago</td>
                </tr>

                <tr class="pf-v6-c-table__tr" role&#x26;#x3D;&#x26;quot;row&#x26;quot; [object Object]>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Repository name">Repository 2</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Branches">10</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Pull requests">25</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Workspaces">5</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Last commit">2 days ago</td>
                </tr>

                <tr class="pf-v6-c-table__tr" role&#x26;#x3D;&#x26;quot;row&#x26;quot; [object Object]>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Repository name">Repository 3</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Branches">10</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Pull requests">25</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Workspaces">5</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Last commit">2 days ago</td>
                </tr>

                <tr class="pf-v6-c-table__tr" role&#x26;#x3D;&#x26;quot;row&#x26;quot; [object Object]>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Repository name">Repository 4</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Branches">10</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Pull requests">25</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Workspaces">5</td>
                    <td class="pf-v6-c-table__td" role="cell" data-label="Last commit">2 days ago</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>