<div class="row">
  <div class="col-12">
    <h1>Inventory</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-4">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="item.name">
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="unit" class="form-label">Unit</label>
            <input type="text" class="form-control" id="unit" name="unit" [(ngModel)]="item.unit">
          </div>
        </div>

        <div class="col-4">
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="item.amount">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <button type="submit" class="btn btn-primary" (click)="add()">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">In storage</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of ($items | async).docs; track item.id) {
        <tr>
          <th scope="row">{{ item.id }}</th>
          <td class="w-50">{{ item.name }}</td>
          <td>{{ item.amount }} {{ item.unit }}</td>
          <td>
            <button type="button" class="btn" (click)="increment(item)">
              <i class="bi bi-plus-lg"></i>
            </button>
            <button type="button" class="btn" (click)="decrement(item)">
              <i class="bi bi-dash-lg"></i>
            </button>
            <button type="button" class="btn text-danger" (click)="remove(item)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>