@inherits LayoutComponentBase
@using website.Pages.Account

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            <main>
                <article class="content px-4">
                    <Login></Login>
                </article>
            </main>            
        </NotAuthorized>
    </AuthorizeView>
</div>
