<ul class="pf-v6-c-nav__list" role="list">
    <li class="pf-v6-c-nav__item">
        <NavLink class="pf-v6-c-nav__link" href="/" Match="NavLinkMatch.All">            
            <span class="pf-v6-c-nav__link-icon">
                <i class="fas fa-fw fa-balance-scale" aria-hidden="true"></i>
            </span>
            <span class="pf-v6-c-nav__link-text">Inventory</span>
        </NavLink>
    </li>
</ul>
